.mogo{
font-size: 30px;
color: #95e1d3;
font-family: 'Montserrat', sans-serif;
font-weight: 700;
margin-top: 29px
}
.ab{
font-size: 14px;
color: #95e1d3;
font-family: 'Montserrat', sans-serif;
font-weight: 400;
text-align: center;
}
.ab:hover{
    text-decoration: underline;
    color: #f38181;
}
.ser{
font-size: 14px;
color: #95e1d3;
font-family: 'Montserrat', sans-serif;
font-weight: 400;
text-align: center;
}
.ser:hover{
    text-decoration: underline;
    color: #f38181;
}
.wo{
font-size: 14px;
color: #95e1d3;
font-family: 'Montserrat', sans-serif;
font-weight: 400;
text-align: center;
}
.wo:hover{
    text-decoration: underline;
    color: #f38181;
}
.bl{
font-size: 14px;
color: #95e1d3;
font-family: 'Montserrat', sans-serif;
font-weight: 400;
text-align: center;
}
.bl:hover{
    text-decoration: underline;
    color: #f38181;
}
.con{
font-size: 14px;
color: #95e1d3;
font-family: 'Montserrat', sans-serif;
font-weight: 400;
text-align: center;
}
.con:hover{
    text-decoration: underline;
    color: #f38181;
}
nav{
display:flex;
justify-content: flex-end;    
}
li{
margin-left: 57px;
margin-right: 57px;
text-decoration: none;
display: inline-flex;
}
.h{
    font-size: 24px;
    color: #333333;
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    text-align: center;
}
.h2{
font-size: 30px;
color: #333333;
font-family: 'Montserrat', sans-serif;
font-weight: 700;
text-align: center;
}
h2{
font-size: 14px;
color: #333333;
font-family: 'Montserrat', sans-serif;
font-weight: 400;
margin-left: 110px;
}
.p{
width: 290px;
height: 81px;
font-size: 15px;
line-height: 24px;
color: #999999;
font-family: 'Roboto', sans-serif;
font-weight: 400;
margin-left: 30px;
margin-right: 30px;
}
.div{
    display: flex;
    justify-content: center;
    flex-wrap:	wrap;
}
div{
    display: inline-block;
}
.div2{
    margin-left: 10px;
    margin-top: 20px;
}
.h3{
font-size: 24px;
color: #333333;
font-family:'Kaushan Script', cursive;
font-weight: 400;
text-align: center
}
.h4{
font-size: 30px;
color: #333333;
font-family: 'Montserrat', sans-serif;
font-weight: 700;
text-align: center;
}
.h5{
width: 960px;
height: 130px;
font-size: 15px;
line-height: 24px;
color: #999999;
font-family: 'Roboto', sans-serif;
font-weight: 400;
text-align: center;
margin-left: 220px;
}
.p2{
font-size: 14px;
color: #333333;
font-family: 'Montserrat', sans-serif;
font-weight: 400;
text-align: center;
}
.p3{
font-size: 15px;
line-height: 24px;
color: #999999;
font-family: 'Roboto', sans-serif;
font-weight: 300;
font-style: italic;
text-align: center;
}
.div4{
    margin-left: 20px;
    margin-right: 20px;
}
.div3{
display: flex;
justify-content: center;   
}
.div21{
display: inline-flex;
}
a{
    color: #95e1d3;
    text-decoration: none;  
}
a:hover{
    text-decoration: underline;
    color: #f38181
}
.img1:hover{
    transition-property: all;
}





 /* .img1{ 
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin-right: 500px;
} */

