
.logo{
font-size: 30px;
color: #95e1d3;
font-family: 'Montserrat', sans-serif;
font-weight: 700;
margin-top: 29px
}
.navitems{
 margin-left: 30px;
margin-right: 30px;  
font-size: 14px;
color: #95e1d3;
font-family: 'Montserrat', sans-serif;
font-weight: 600;
text-align: center;
text-decoration: none;
}
.navitems:hover{
    color: #f38181;
    text-decoration: underline;
}
.header{
    display: flex;
    justify-content: space-between;
}
.service{
    padding-top: 50px;
}
.line {
    width: 60px;
    height: 2px;
    background-color: rgb(243, 129, 129);
    border: none;
    margin-top: 30px;
}
.title{
    font-size: 24px;
    color: #333333;
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    text-align: center;
}
.subtitle{
font-size: 30px;
color: #333333;
font-family: 'Montserrat', sans-serif;
font-weight: 900;
text-align: center;
}
.appellation{
font-size: 14px;
color: #333333;
font-family: 'Montserrat', sans-serif;
font-weight: 400
}
.paragraph{
width: 290px;
height: 81px;
font-size: 15px;
line-height: 24px;
color: #999999;
font-family: 'Roboto', sans-serif;
font-weight: 400;
}
.blocks{
    display: flex;
    justify-content: center;
    flex-wrap:	wrap;
}
div{
    display: inline-block;
}
.imgblock{
    padding-top: 10px;
    padding-right: 10px;
}
.block{
     margin-left: 10px;
    margin-top: 20px; 
     display: flex; 
    justify-content: space-between;
    width: calc(100%/4);
}
.cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}
.all-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 3 - 10px);
}
.card {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    height: 100%;
}
.card-content {
    object-fit: cover;
    max-width: 100%;
    position: relative;
    top: 0;
    left: 0;
    transition: 0.3s ease-in-out;
    width: 100%;
    height: 100%;
}
.card:hover .card-content {
    top: -10px;
    left: -10px;
}
.card-content {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-content>.cover:after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #FEE140;
    background-image: linear-gradient(0deg, #FEE140 0%, #FA709A 100%);
    opacity: 0;
    width: 94%;
    height: 99%;
}
.card-content:hover>.cover:after {
    opacity: 0.7;
}
.card-content>.cover .list {
    list-style: none;
    display: flex;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.card-content:hover>.cover .list {
    opacity: 1;
    position: relative;
    z-index: 2;
}
.card-content>.cover .list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1px;
    margin-left: 0;
    transition: 0.3s ease-in-out;
}
.list-item {
    width: calc(100% / 4 - 1px);
}
 .list {
    padding-left: 30px; 
     padding-right: 29px;  
} 
.cover {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
.card-overlap {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #95e1d3;
    z-index: -1;
    width: 94%;
    height: 99%;
}
.all-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 3 - 10px);
}
.card-content>.cover .list-item {
    background-color: #fce38a;
}
.card-content>.cover .list-item:hover,
 :focus {
    background-color: #95e1d3;
}
.name{
font-size: 14px;
color: #333333;
font-family: 'Montserrat';
font-weight: 400;
text-align: center;
}
.about{
font-size: 15px;
line-height: 24px;
color: #999999;
font-family: 'Roboto', sans-serif;
font-weight: 300;
font-style: italic;
text-align: center;
}
.footer {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}
.input {
    font-size: 15px;
    line-height: 24px;
    color: #cccccc;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    width: 230px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #e7e7e7;
}
.button {
    background-color: #95e1d3;
    width: 150px;
    height: 40px;
    border: none;
    outline: none;
    font-size: 14px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    width: 150px;
    height: 40px;
}
.autor {
    font-size: 14px;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    margin-right: 100px;
}
@media(max-width: 991.98px){
    .header{
        display: flex;
        flex-direction: column;
        justify-content: center;
    } 
    .nav{
        display: flex;
        flex-direction: column;
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .blocks{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .name{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card-overlap{
        width: 200%;
        display: flex;
        justify-content: center;
        left: -45px;
    }
    .card-content>.cover:after{
        width: 200%;
        display: flex;
        justify-content: center;
        align-items: center;
        left: -45px;
    }
    .photo{
        width: 200%;
        height: 200%;
    }
    .card-content{
        display: flex;
        justify-content: center;
    }
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .navitems{
        padding-top: 10px;
    }

}







